/*
Error: Invalid US-ASCII character "\xEC"
        on line 5 of SassComponent.scss

1: @import "./styles/utils.scss";
2: .SassComponent {
3:   display: flex;
4:   .box {
5:     background: red; // 일반 CSS 에선 .SassComponent .box 와 마찬가지
6:     cursor: pointer;
7:     transition: all 0.3s ease-in;
8:     &.red {
9:       // .red 클래스가 .box 와 함께 사용 됐을 때
10:       background: $red;

Backtrace:
SassComponent.scss:5
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/util.rb:1043:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/util.rb:1040:in `block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/util.rb:1039:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/util.rb:1039:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/util.rb:1039:in `find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/util.rb:767:in `check_sass_encoding'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/engine.rb:444:in `check_encoding!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/engine.rb:400:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:22:in `load'
/usr/local/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xEC\"\A         on line 5 of SassComponent.scss\A \A 1: @import \"./styles/utils.scss\";\A 2: .SassComponent {\A 3:   display: flex;\A 4:   .box {\A 5:     background: red; // 일반 CSS 에선 .SassComponent .box 와 마찬가지\A 6:     cursor: pointer;\A 7:     transition: all 0.3s ease-in;\A 8:     &.red {\A 9:       // .red 클래스가 .box 와 함께 사용 됐을 때\A 10:       background: $red;"; }
